/* 10 tiles across */
/* each tile is 20px */

body {
  /*background-image: url(./tiles.jpg);*/
}

.game {
  background-color: black;
  height: 400px;
  width: 200px;
  margin: auto;
  position: relative;
}

.tile {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: -1px;
  background-color: #eee;
}

.active {
  background-color: red;
}

.gameOver{
  background-color: rgb(45,40,40);
  width: 300px;
  height: 75px;
  color: white;
  text-align: center;
  padding: 10px;
  border: inset 3px rgb(59, 123, 169);
  margin: auto;
  position: relative;
  bottom: 300px;
}

.hidden{
  display: none;
}